{% extends 'base.html' %} {% load static %} {% block content %}
<div class="body">
    <div id="websiteHeader">
        <nav id="mainNav" class="hidden-xs navbar-default navbar-fixed-top  opacity-no">
            <div class="site_container">
                <div class="navbar-header">
                    <a href="#page-top" class="s123-site-logo navbar-brand s123-w-l-s page-scroll">
                        <img alt="RB Windows Corp." class="img-responsive" src="https://static1.s123-cdn-static-a.com/uploads/3088361/400_crop_5e4afef5dd26c_5e4afbef9982e.jpg">
                        <span class="website-name website-name-preview-helper website-name-active  ">RB Windows Corp.</span>
                    </a>
                </div>
                <div id="top-menu">
                    <ul class="navPages nav navbar-nav">
                        <li class="moduleMenu active">
                            <a class="page-scroll homepageMenu" href="#page-top">
                                <span class="txt-container">Home</span>
                            </a>
                        </li>
                        <li class="moduleMenu" data-menu-module-id="5d0a0f53588b1">
                            <a class="page-scroll" href="#section-5d0a0f53588b1">
                                <span class="txt-container">Windows &amp;Doors</span>
                            </a>
                        </li>
                        <li class="moduleMenu" data-menu-module-id="5b0a4ba50e4e8">
                            <a class="page-scroll" href="#section-5b0a4ba50e4e8">
                                <span class="txt-container">About us</span>
                            </a>
                        </li>
                        <li class="moduleMenu" data-menu-module-id="5b0a4ba521825">
                            <a class="page-scroll" href="#section-5b0a4ba521825">
                                <span class="txt-container">Contact</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="navActions nav navbar-nav">
                        <li class="website-languages-menu">
                            <a class="btn website-languages-menu-link">
                                <img src="https://cdn-cms-s.f-static.net/files/vendor/flag-icon-css-master/flags/1x1/us.svg" style="width:auto;height:14px;">
                            </a>
</i>
<!-- Multi Currency -->
<!-- Show Header Address -->
<li class="header-address-wrapper">
<a data-close-location="right" class="actionButton" role="button" data-container="body" data-toggle="address_menuCallActionIcons">
<i class="svg-m s123-icon-converter " data-icon-name="location-arrow" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/location-arrow.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/location-arrow.svg?v=2');" data-ie11-classes="">&nbsp;</i>
</a>
</li>
<!-- Show Header Social -->
<li class="header-social-wrapper ">
<a data-close-location="right" class="actionButton" role="button" data-container="body" data-toggle="social_menuCallActionIcons">
<i class="svg-m s123-icon-converter " data-icon-name="share-alt" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/share-alt.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/share-alt.svg?v=2');" data-ie11-classes="">&nbsp;</i>
</a>
</li>
<li class="header-search-wrapper">
<a data-close-location="right" class="actionButton" role="button" data-container="body" data-toggle="search_menuCallActionIcons">
<i class="svg-m s123-icon-converter " data-icon-name="search" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/search.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/search.svg?v=2');" data-ie11-classes="">&nbsp;</i>
</a>
</li>
<!-- Cart -->
<li class="header-cart-wrapper orderOpenCart ">
<a class="actionButton btn-primary-action-button-4" role="button">
<i class="svg-m s123-icon-converter " data-icon-name="shopping-cart" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/shopping-cart.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/shopping-cart.svg?v=2');" data-ie11-classes="">&nbsp;</i>
<span class="count"></span>
</a>
</li>
<!-- Show Header Email With Style -->
<li class="header-email-wrapper" data-style="1">
<a data-close-location="right" class="actionButton" role="button" data-container="body" data-toggle="email_menuCallActionIcons">
<i class="svg-m s123-icon-converter " data-icon-name="envelope" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/envelope.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/envelope.svg?v=2');" data-ie11-classes="">&nbsp;</i>
</a>
</li>
<!-- Only icon -->
<li class="header-phone-wrapper" data-style="1">
<a data-close-location="right" class="actionButton" role="button" data-container="body" data-toggle="phone_menuCallActionIcons">
<i class="svg-m s123-icon-converter fa fa-phone" data-icon-name="phone" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/phone.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/phone.svg?v=2');" data-ie11-classes="fa fa-phone">&nbsp;</i>
</a>
</li>
<!-- Only Phone -->
<!-- Menu Action Buttons -->
<li class="action-button-wrapper">
<a onclick="ScrollToModule('','5b0a4ba521825');">
<button {{videoAttributes}} type="button" id="topAction_buttonText_1" class="btn btn-primary btn-primary-action-button-3">
    <i class="svg-m s123-icon-converter " data-icon-name="phone" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/phone.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/phone.svg?v=2');" data-ie11-classes="">&nbsp;</i>
    &nbsp;<span class="m-b-t">Call us</span>
</button>
</a>
</li>
</ul></div></div></nav>
<!-- Sticky Menu -->
<input type="hidden" id="stickyMenu" name="stickyMenu" value="on">
</div>
<nav id="mainNavMobile" class="navbar-fixed-top">
<div class="navPagesLeft">
<div class="header-menu-wrapper">
    <a data-close-location="left" data-menu-color="m-m-t-w" data-menu-type="0" data-menu-align="center" data-is-mobile="true" class="mobile-menu-btn actionButton" role="button" data-container="body" data-toggle="menuCallActionIcons">
        <i class="svg-m s123-icon-converter " data-icon-name="bars" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/bars.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/bars.svg?v=2');" data-ie11-classes="">&nbsp;</i>
    </a>
</div>
</div>
<div class="navbar-header">
<a href="#page-top" class="s123-site-logo navbar-brand s123-w-l-s page-scroll">
    <img alt="RB Windows Corp." class="img-responsive" src="https://static1.s123-cdn-static-a.com/uploads/3088361/400_crop_5e4afef5dd26c_5e4afbef9982e.jpg">
    <span class="website-name website-name-preview-helper website-name-active  ">RB Windows Corp.</span>
</a>
</div>
<div class="navPagesRight">
<ul class="navActions nav navbar-nav">
    <!-- Show header phone -->
    <li class="header-phone-wrapper">
        <a data-close-location="right" class="actionButton" role="button" data-container="body" data-toggle="phone_menuCallActionIcons">
            <i class="svg-m s123-icon-converter fa fa-phone" data-icon-name="phone" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/phone.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/phone.svg?v=2');" data-ie11-classes="fa fa-phone">&nbsp;</i>
        </a>
    </li>
    <!-- Show header email -->
    <li class="header-email-wrapper">
        <a data-close-location="right" class="actionButton" role="button" data-container="body" data-toggle="email_menuCallActionIcons">
            <i class="svg-m s123-icon-converter " data-icon-name="envelope" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/envelope.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/envelope.svg?v=2');" data-ie11-classes="">&nbsp;</i>
        </a>
    </li>
    <!-- Show header address -->
    <li class="header-address-wrapper">
        <a data-close-location="right" class="actionButton" role="button" data-container="body" data-toggle="address_menuCallActionIcons">
            <i class="svg-m s123-icon-converter " data-icon-name="location-arrow" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/location-arrow.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/location-arrow.svg?v=2');" data-ie11-classes="">&nbsp;</i>
        </a>
    </li>
    <!-- Show header social -->
    <li class="header-social-wrapper ">
        <a data-close-location="right" class="actionButton" role="button" data-container="body" data-toggle="social_menuCallActionIcons">
            <i class="svg-m s123-icon-converter " data-icon-name="share-alt" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/share-alt.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/share-alt.svg?v=2');" data-ie11-classes="">&nbsp;</i>
        </a>
    </li>
    <!-- Show header search -->
    <li class="header-search-wrapper">
        <a data-close-location="right" class="actionButton" role="button" data-container="body" data-toggle="search_menuCallActionIcons">
            <i class="svg-m s123-icon-converter " data-icon-name="search" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/search.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/search.svg?v=2');" data-ie11-classes="">&nbsp;</i>
        </a>
    </li>
    <!-- Cart -->
    <li class="header-cart-wrapper orderOpenCart ">
        <a class="actionButton btn-primary-action-button-4" role="button">
            <i class="svg-m s123-icon-converter " data-icon-name="shopping-cart" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/shopping-cart.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/shopping-cart.svg?v=2');" data-ie11-classes="">&nbsp;</i>
            <span class="count"></span>
        </a>
    </li>
</ul>
</div>
</nav>
<div id="top-menu-mobile" style="display:none;">
<ul>
<!-- Website Menu Pages -->
<li class="moduleMenu active">
    <a class="page-scroll homepageMenu" href="#page-top">
        <span class="txt-container">Home</span>
    </a>
</li>
<li class="moduleMenu" data-menu-module-id="5d0a0f53588b1">
    <a class="page-scroll" href="#section-5d0a0f53588b1">
        <span class="txt-container">Windows &amp;Doors</span>
    </a>
</li>
<li class="moduleMenu" data-menu-module-id="5b0a4ba50e4e8">
    <a class="page-scroll" href="#section-5b0a4ba50e4e8">
        <span class="txt-container">About us</span>
    </a>
</li>
<li class="moduleMenu" data-menu-module-id="5b0a4ba521825">
    <a class="page-scroll" href="#section-5b0a4ba521825">
        <span class="txt-container">Contact</span>
    </a>
</li>
<!-- Website Footer Pages -->
</ul>
</div>
<div id="s123PjaxMainContainer">
<section id="top-section" class="homepage_style_3 top_magic_homepage_kind_2 ">
<div class="magic_homepage magic_homepage_split magic_homepage_kind_2 homepage-layout-24">
    <div class="home_main_wrapper main_ele_place_top" data-main-goal="no" data-second-goal="no">
        <div class="left">
            <div class="side_text_object_position_center_center home_third_background_color">
                <div class="box_container boxStyle_">
                    <div class="hm-t-c boxBorder  ele_align_center">
                        <h1 id="home_siteSlogan" class="animated zoomIn weight700  shadow1 background2 hm-txt">
                            Windows <span class="mainWebsiteColor">&amp;</span>
                            Impact Doors
                        </h1>
                        <h2 id="home_siteSlogan_2" class=" weight400  shadow1  hm-txt" style="display:none"></h2>
                        <p id="home_SecondSiteSlogan" class="animated zoomIn weight700  shadow1  hm-txt">
                            - TIME TO SEE THE WORLD -<br/>
                            Factory Direct &amp;Warranty Installations<br/>
                            <span class="mainWebsiteColor">HIGHEST PROTECTION</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="home_background_wrapper">
                <div class="carousel slide carousel-fade" data-ride="carousel" data-pause="false" data-interval="5000">
                    <div class="carousel-inner" role="listbox">
                        <div class="item itemImage1 active "></div>
                        <div class="item itemImage2  "></div>
                        <div class="item itemImage3  "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<div id="s123ModulesContainer" class="s123-modules-container">
<section id="section-5d0a0f53588b1" class="s123-module s123-module-services layout-4 bg-primary" data-module-id="5d0a0f53588b1" data-module-type-num="3">
    <div data-aos="fade-up" class="container-fluid page_header_style noBackground">
        <div class="row">
            <div class="container moduleTitleContainer">
                <div class="row modulesTitle text-center">
                    <div class="col-xs-12">
                        <div class="page-header-wrap">
                            <H2 id="section-5d0a0f53588b1-title" class="s123-page-header  ">Windows &amp;Doors</H2>
                            <hr class="small">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" data-aos="fade-up">
        <!-- Adds top --->
        <!-- Container --->
        <div class="text-center features-container">
            <!-- Items area -->
            <div class="row text-center services-category" data-categories-filter="s123-g-show-all">
                <div class="col-md-4 col-sm-6 s123-col-centered">
                    <a class="service-link s123-fast-page-load" href="/windows-doors/residential-installation-of-windows-and-doors">
                        <div class="service-item s123-box-top-primary-border s123-box-flying-up preview-highlighter box-primary" data-unique-id="5d0a0f53dc248">
                            <span class="fa-stack fa-4x img-circle bgLazyload" data-bg="https://static1.s123-cdn-static-a.com/uploads/3088361/400_5e4b50ad13c5a.jpg"></span>
                            <h4>
                                <strong>RESIDENTIAL INSTALLATION OF WINDOWS AND DOORS</strong>
                            </h4>
                            <p>We collaborate in residential, industrial and infrastructure projects complying with high international quality standards.</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 s123-col-centered">
                    <a class="service-link s123-fast-page-load" href="/windows-doors/impact-doors">
                        <div class="service-item s123-box-top-primary-border s123-box-flying-up preview-highlighter box-primary" data-unique-id="5dd47b2bccf44">
                            <span class="fa-stack fa-4x img-circle bgLazyload" data-bg="https://static1.s123-cdn-static-a.com/uploads/3088361/400_5e4c157fc1f5f.jpg"></span>
                            <h4>
                                <strong>IMPACT DOORS</strong>
                            </h4>
                            <p>We offer a 360° service for your Offices, Home or Industrial to focus on your important issues. We don't take care of it!</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 s123-col-centered">
                    <a class="service-link s123-fast-page-load" href="/windows-doors/commercial-installation-of-glass">
                        <div class="service-item s123-box-top-primary-border s123-box-flying-up preview-highlighter box-primary" data-unique-id="5dd475af1f01a">
                            <span class="fa-stack fa-4x img-circle bgLazyload" data-bg="https://static1.s123-cdn-static-a.com/uploads/3088361/400_5e4c31f3daa10.jpg"></span>
                            <h4>
                                <strong>COMMERCIAL INSTALLATION OF GLASS</strong>
                            </h4>
                            <p>With the help of our commercial glass installation services at RB Windows Corp., we can improve the look of your residence, company or business.</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 s123-col-centered">
                    <a class="service-link s123-fast-page-load" href="/windows-doors/installing-doors">
                        <div class="service-item s123-box-top-primary-border s123-box-flying-up preview-highlighter box-primary" data-unique-id="5dd47269d7c51">
                            <span class="fa-stack fa-4x img-circle bgLazyload" data-bg="https://static1.s123-cdn-static-a.com/uploads/3088361/400_5e4b56058eb39.jpg"></span>
                            <h4>
                                <strong>INSTALLING DOORS</strong>
                            </h4>
                            <p>We collaborate directly with the manufacturers of the product to ensure its quality and functionality. And with our experience in installation, we make your project a success.</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 s123-col-centered">
                    <div class="service-item s123-box-top-primary-border s123-box-flying-up preview-highlighter box-primary" data-unique-id="5d0a0f53e0c2b">
                        <span class="fa-stack fa-4x img-circle bgLazyload" data-bg="https://static1.s123-cdn-static-a.com/uploads/3088361/400_5e4b5c523158f.jpg"></span>
                        <h4>
                            <strong>INSTALLATION OF GLASS RAILINGS</strong>
                        </h4>
                        <p>Our services aim to protect and extend the life of your home and safeguard your safety and heritage.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 s123-col-centered">
                    <a class="service-link s123-fast-page-load" href="/windows-doors/engineering-services">
                        <div class="service-item s123-box-top-primary-border s123-box-flying-up preview-highlighter box-primary" data-unique-id="5d0a0f53e4ad6">
                            <span class="fa-stack fa-4x img-circle bgLazyload" data-bg="https://static1.s123-cdn-static-a.com/uploads/3088361/400_5e4b703189b82.jpg"></span>
                            <h4>
                                <strong>ENGINEERING SERVICES</strong>
                            </h4>
                            <p>The engineering team of RB Windows Corp. you can work to create custom solutions for your property.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Adds bottom --->
    </div>
</section>
<section id="section-5e4b2f444a304" class="s123-module s123-promo-module-v2 big-site123 style-21 basic parallax-on " style="position: relative;background-color: #081e2d;color:#ffffff;" data-module-id="5e4b2f444a304" data-module-type-num="1000" data-tool-style="21">
    <div class="container big-site123 promo-container" style=" " data-custom-padding-top="" data-custom-padding-bottom="" data-top-shape-size="" data-top-shape-hide-from-mobile="" data-bottom-shape-size="" data-bottom-shape-hide-from-mobile="" data-top-shape-color="" data-bottom-shape-color="">
        <div class="flex  p-t-c">
            <h3 id="5e4b2f444a304-promoText1" class="text promoText1 h1 weight700  " data-aos="fade-up" style="color:#ffffff; margin-top: 0px;">Impact Windows &amp;Doors</h3>
            <h4 id="5e4b2f444a304-promoText2" class="text promoText2 h3 weight400  " data-aos="fade-up" style="color:#ffffff; margin-top: 0px;">Try us today! Talk to our experts for a professional installation. 305-316-2337</h4>
            <p id="5e4b2f444a304-promoText3" class="text promoText3   weight400  " data-aos="fade-up" style="color:#ffffff; margin-top: 0px;">We only work with the best brands in the market to ensure your safety and satisfaction.</p>
            <div data-aos="fade-up" class="redirect-buttons-container">
                <div class="preview-highlighter" data-open-tool="button-options" style="margin-top:0px; margin-bottom:0px; " data-type="buttons">
                    <a onclick="ScrollToModule('5e4b2f444a304','5b0a4ba521825');" id="promoRedirectButton1" class="buttonText btn btn-primary btn-xl " target="_blank" style="margin-right:5px;">Contact us</a>
                    <a href="" id="promoRedirectButton2" class="button2Text btn btn-primary btn-xl  hidden" target="_blank" style="margin-left:5px;"></a>
                </div>
            </div>
        </div>
    </div>
    <div data-idele="parallax_promo_mirror_5e4b2f444a304" class="promo-image-bg promoLazyload" data-bleed="30" data-opacity="0.3" data-backgroundcolor="#081e2d" data-image-src="https://static1.s123-cdn-static-a.com/uploads/3088361/2000_5e4b41ec1d489.jpg" data-filter="" data-position="center center" data-background-position="center center" style="opacity:0.3;filter:;background-position:center center;" data-bg="https://static1.s123-cdn-static-a.com/uploads/3088361/2000_5e4b41ec1d489.jpg"></div>
</section>
<section id="section-5e4c25735bf8e" class="s123-module s123-module-carousel layout-1 bg-primary" data-module-id="5e4c25735bf8e" data-module-type-num="13">
    <div data-aos="fade-up" class="container-fluid page_header_style noBackground">
        <div class="row">
            <div class="container moduleTitleContainer">
                <div class="row modulesTitle text-center">
                    <div class="col-xs-12">
                        <div class="page-header-wrap">
                            <H2 id="section-5e4c25735bf8e-title" class="s123-page-header  ">WE WORK WITH THE BEST</H2>
                            <hr class="small">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" data-aos="fade-up">
        <!-- Categories Area -->
        <div class="text-center">
            <!-- Categories area -->
            <div class="row" style="display:none;">
                <div class="s123-categories col-xs-12">
                    <ul class="items-categories-container">
                        <li data-categories-filter="todos">
                            <a href="#">Todos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Items Area -->
        <div class="row text-center">
            <div class="carousel-category" data-categories-filter="todos">
                <div class="col-md-12 center">
                    <div class="owl-carousel owl-theme mt-xl manual" data-itmes="5" data-plugin-options='{"items": 5, "autoplay": true, "autoplayTimeout": 3000, "center": true,"dots": true, "dotsEach": false, "margin": 10, "loop": true}'>
                        <div>
                            <div class="p-h-e-bottom-0 preview-highlighter" data-unique-id="5e4c2573c7d2e" style="display: inline-block;">
                                <img class="img-responsive lazyload" data-src="https://static1.s123-cdn-static-a.com/uploads/3088361/400_crop_5e4f5c7fbf31d_5e4c25c66bcb4.jpg" alt="Eco Windows Sistems" title="Eco Windows Sistems">
                            </div>
                        </div>
                        <div>
                            <div class="p-h-e-bottom-0 preview-highlighter" data-unique-id="5e4c2573cc050" style="display: inline-block;">
                                <img class="img-responsive lazyload" data-src="https://static1.s123-cdn-static-a.com/uploads/3088361/400_crop_5e4f5c94af96e_5e4c261cb1155.jpg" alt="Eswindows" title="Eswindows">
                            </div>
                        </div>
                        <div>
                            <div class="p-h-e-bottom-0 preview-highlighter" data-unique-id="5e4c2573cfd95" style="display: inline-block;">
                                <img class="img-responsive lazyload" data-src="https://static1.s123-cdn-static-a.com/uploads/3088361/400_crop_5e4f5caf6be6d_5e4c264bb451e.jpg" alt="CGI" title="CGI">
                            </div>
                        </div>
                        <div>
                            <div class="p-h-e-bottom-0 preview-highlighter" data-unique-id="5e4c2573d19c3" style="display: inline-block;">
                                <img class="img-responsive lazyload" data-src="https://static1.s123-cdn-static-a.com/uploads/3088361/400_crop_5e59722edc893_5e4c266126b9e.jpg" alt="PGT" title="PGT">
                            </div>
                        </div>
                        <div>
                            <div class="p-h-e-bottom-0 preview-highlighter" data-unique-id="5e4c2573d390f" style="display: inline-block;">
                                <img class="img-responsive lazyload" data-src="https://static1.s123-cdn-static-a.com/uploads/3088361/400_crop_5e5972590664e_5e4c26777344c.jpg" alt="Windoor" title="Windoor">
                            </div>
                        </div>
                        <div>
                            <div class="p-h-e-bottom-0 preview-highlighter" data-unique-id="5e4c706364dad" style="display: inline-block;">
                                <img class="img-responsive lazyload" data-src="https://static1.s123-cdn-static-a.com/uploads/3088361/400_crop_5e59726f2ecb9_5e4c7059a57e8.jpg" alt="Lawson" title="Lawson">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<section id="section-5b0a4ba50e4e8" class="s123-module s123-module-about layout-4 layout-4" data-module-id="5b0a4ba50e4e8" data-module-type-num="16">
    <div data-aos="fade-up" class="container-fluid page_header_style noBackground">
        <div class="row">
            <div class="container moduleTitleContainer">
                <div class="row modulesTitle text-center">
                    <div class="col-xs-12">
                        <div class="page-header-wrap">
                            <H2 id="section-5b0a4ba50e4e8-title" class="s123-page-header  ">About us</H2>
                            <hr class="small">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container preview-highlighter" data-aos="fade-up">
        <div class="row">
            <div class='col-xs-12'>
                <div class="responsive-handler fr-view breakable ">
                    <div class="images">
                        <div class="separateImages text-center">
                            <img class="img-rounded img-responsive" src="https://static1.s123-cdn-static-a.com/uploads/3088361/400_crop_5e4f5e025c30c_5e4c682f7a46b.png" alt="About us"/>
                        </div>
                    </div>
                    We are a specialized team with more than 15 years of experience in the sale and installation of impact resistant windows, doors and glass; We are located in South Florida.<br>
                    <br>
                    Committed to offer customer satisfaction from the lifting of the requirement to delivery and installation at home; always complying with the strictest industry standards and providing a competitive professional service. Our offer is aimed at homes, businesses and businesses, as well as maintenance solutions for the commercial and residential sectors.<br>
                    <br>
                    The scope of our services applies to all your needs from the construction of new construction to remodeling. We can advise you to bring your project to reality from the sale to the delivery and installation of your doors and windows.<br>
                    <br>
                    Our best value is a multidisciplinary, efficient and reliable professional human team that offers its services in compliance with the construction regulations of the State of Florida, guaranteeing its safety without sacrificing the appearance and elegance in its finishes and durability.<br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section-5dd47dbb31e33" class="s123-module s123-promo-module-v2 bg-primary full-site123 style-29 twoSideCallAction twoSideDiffBack fullWidth reverse " style="position: relative;background-color: #f04022;color:#ffffff;" data-module-id="5dd47dbb31e33" data-module-type-num="1000" data-tool-style="29">
    <div class="full-site123 container-fluid flex promo-container" style=" " data-custom-padding-top="" data-custom-padding-bottom="" data-top-shape-size="" data-top-shape-hide-from-mobile="" data-bottom-shape-size="" data-bottom-shape-hide-from-mobile="" data-top-shape-color="" data-bottom-shape-color="">
        <div class="start text-center" style="position: relative;background-color: #f04022; width: 50%;" data-width="50">
            <div class="promoContentOrder p-t-c ">
                <h3 id="5dd47dbb31e33-promoText1" class="text promoText1 h2 weight700  " data-aos="fade-up" style="color:#ffffff; margin-top: 0px;">PROGRAM *SAFE FAMILY*</h3>
                <h4 id="5dd47dbb31e33-promoText2" class="text promoText2 h3 weight700  " data-aos="fade-up" style="color:#ffffff; margin-top: 0px;">HOT SALE - WINDOWS &amp;DOORS</h4>
                <p id="5dd47dbb31e33-promoText3" class="text promoText3   weight400  " data-aos="fade-up" style="color:#ffffff; margin-top: 0px;">High Protection &amp;Impact Resistant</p>
            </div>
        </div>
        <div class="end" style="position: relative;background-color: #f04022; width: 50%;">
            <div class="promo-image-bg">
                <div class="carousel slide carousel-fade" data-ride="carousel" data-pause="false" data-interval="5000">
                    <div class="carousel-inner" role="listbox">
                        <div style="opacity:1;filter:;" class="item active bgLazyload" data-bg="https://static1.s123-cdn-static-a.com/uploads/3088361/2000_5e4afb3235435.jpg"></div>
                        <div style="opacity:1;filter:;" class="item bgLazyload" data-bg="https://static1.s123-cdn-static-a.com/uploads/3088361/2000_5e4afb7f61912.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section-5dd47eb131e35" class="s123-module s123-module-counters layout-1" data-module-id="5dd47eb131e35" data-module-type-num="12">
    <div data-aos="fade-up" class="container-fluid page_header_style noBackground">
        <div class="row">
            <div class="container moduleTitleContainer">
                <div class="row modulesTitle text-center">
                    <div class="col-xs-12">
                        <div class="page-header-wrap">
                            <H2 id="section-5dd47eb131e35-title" class="s123-page-header  ">WE LOVE WHAT WE DO!</H2>
                            <hr class="small">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" data-aos="fade-up">
        <div class="counters row text-center" data-item-row="5">
            <div class="col-xs-12">
                <div class="counters-grid grid-4 ">
                    <div class="counter-container primary-color">
                        <div class="counter preview-highlighter " data-unique-id="5dd47eb2aa665">
                            <div>
                                <i class="svg-m s123-icon-converter fa-4x" data-icon-name="rocket" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/rocket.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/rocket.svg?v=2');" data-ie11-classes="fa-4x">&nbsp;</i>
                            </div>
                            <div class="countes-val">
                                <strong class="counter-number" data-to="20">0</strong>
                                <strong>+</strong>
                            </div>
                            <label>Ongoing projects</label>
                        </div>
                    </div>
                    <div class="counter-container primary-color">
                        <div class="counter preview-highlighter " data-unique-id="5dd47eb2b0988">
                            <div>
                                <i class="svg-m s123-icon-converter fa-4x" data-icon-name="smile-o" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/smile-o.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/smile-o.svg?v=2');" data-ie11-classes="fa-4x">&nbsp;</i>
                            </div>
                            <div class="countes-val">
                                <strong class="counter-number" data-to="1300">0</strong>
                                <strong>+</strong>
                            </div>
                            <label>Satisfied customers</label>
                        </div>
                    </div>
                    <div class="counter-container primary-color">
                        <div class="counter preview-highlighter " data-unique-id="5dd47eb2ada90">
                            <div>
                                <i class="svg-m s123-icon-converter fa-4x" data-icon-name="coffee" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/coffee.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/coffee.svg?v=2');" data-ie11-classes="fa-4x">&nbsp;</i>
                            </div>
                            <div class="countes-val">
                                <strong class="counter-number" data-to="100">0</strong>
                                <strong>+</strong>
                            </div>
                            <label>Coffee cups served</label>
                        </div>
                    </div>
                    <div class="counter-container primary-color">
                        <div class="counter preview-highlighter " data-unique-id="5dd47eb2b3613">
                            <div>
                                <i class="svg-m s123-icon-converter fa-4x" data-icon-name="forward" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/forward.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/forward.svg?v=2');" data-ie11-classes="fa-4x">&nbsp;</i>
                            </div>
                            <div class="countes-val">
                                <strong class="counter-number" data-to="4">0</strong>
                            </div>
                            <label>Steps to start</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<section id="section-5b0a4ba521825" class="s123-module s123-module-contact layout-2 bg-primary" data-module-id="5b0a4ba521825" data-module-type-num="7">
    <div class="s123-module-contact-map">
        <div id="contact_631f8b7589f28" class="map-container" data-src="https://maps-cdn.site123.com/include/globalMapDisplay.php?q=1230+NE+39th+Ave%2C+Homestead%2C+Florida+33033%2C+EE.+UU.&z=15&l=en&ilfc="></div>
    </div>
    <div data-aos="fade-up" class="container-fluid page_header_style noBackground">
        <div class="row">
            <div class="container moduleTitleContainer">
                <div class="row modulesTitle text-center">
                    <div class="col-xs-12">
                        <div class="page-header-wrap">
                            <H2 id="section-5b0a4ba521825-title" class="s123-page-header  ">Contact</H2>
                            <hr class="small">
                        </div>
                        <div class="page-slogan-wrap">
                            <h4 id="section-5b0a4ba521825-slogan" class="s123-page-slogan">We would love to assist you!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" data-aos="fade-up">
        <div class="row text-center">
            <div class="col-md-5 preview-highlighter" style="text-align: center;">
                <ul class="list-unstyled contact-as-details-container">
                    <li>1230 NE 39th Ave, Homestead, Florida 33033, EE. UU.</li>
                </ul>
                <ul class="list-unstyled contact-as-details-container">
                    <li>
                        <a href="tel:305-316-2337">
                            <i class="svg-m s123-icon-converter " data-icon-name="phone" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/phone.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/phone.svg?v=2');" data-ie11-classes="">&nbsp;</i>
                            <span dir="ltr">305-316-2337</span>
                            &nbsp;-&nbsp;<span>RB Windows Corp.</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:rbrito@rb-windows.com">
                            <i class="svg-m s123-icon-converter  fa-fw" data-icon-name="envelope-o" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/envelope-o.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/envelope-o.svg?v=2');" data-ie11-classes=" fa-fw">&nbsp;</i>
                            rbrito@rb-windows.com
                        </a>
                    </li>
                    <li class="open_hours_field">
                        <i class="svg-m s123-icon-converter fa-fw" data-icon-name="clock-o" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/clock-o.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/clock-o.svg?v=2');" data-ie11-classes="fa-fw">&nbsp;</i>
                        M-F De 8:00 A.M a 5:00 P.M.
                    </li>
                </ul>
            </div>
            <form class="breakable contactUsForm " data-thanks-msg="Thank you for contacting us. Shortly, one of our executives will contact you shortly. Thanks for your preference and interest !!

Atte.
Customer Service Team
RB Windows Corp." data-date-format="d/m/Y" data-click-action="">
                <div class="preview-highlighter col-md-6 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="contact_name" placeholder="Name" class="form-control" required data-msg-required="This field is required.">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="contact_phone" placeholder="Phone" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="contact_email" placeholder="Email address" class="form-control s123-force-ltr" required data-msg-required="This field is required." data-rule-email="true" data-msg-email="Please enter a valid email.">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="contact_message" placeholder="Message" style="min-height: 100px;"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Contact Us</button>
                </div>
                <input type="hidden" name="w" value="">
                <input type="hidden" name="websiteID" value="3088361">
                <input type="hidden" name="moduleID" value="5b0a4ba521825">
                <input type="hidden" name="layout" value="2">
                <input type="hidden" name="recaptchaToken" value="">
            </form>
        </div>
    </div>
</section>
</div>
<footer class="global_footer footer_2">
<div class="part1">
    <div class="social-details-container social-icons preview-highlighter" data-module-type-num="24">
        <ul class="list-inline">
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="svg-m s123-icon-converter  fa-1x" data-icon-name="facebook" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/facebook.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/facebook.svg?v=2');" data-ie11-classes=" fa-1x">&nbsp;</i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="svg-m s123-icon-converter  fa-1x" data-icon-name="linkedin" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/linkedin.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/linkedin.svg?v=2');" data-ie11-classes=" fa-1x">&nbsp;</i>
                </a>
            </li>
            <li>
                <a href="https://wa.me/13053162337" target="_blank">
                    <i class="svg-m s123-icon-converter  fa-1x" data-icon-name="whatsapp" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/whatsapp.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/whatsapp.svg?v=2');" data-ie11-classes=" fa-1x">&nbsp;</i>
                </a>
            </li>
        </ul>
    </div>
    <div class="hidden-xs">
        <ul class="navPages nav navbar-nav">
            <li class="moduleMenu active">
                <a class="page-scroll homepageMenu" href="#page-top">
                    <span class="txt-container">Home</span>
                </a>
            </li>
            <li class="moduleMenu" data-menu-module-id="5d0a0f53588b1">
                <a class="page-scroll" href="#section-5d0a0f53588b1">
                    <span class="txt-container">Windows &amp;Doors</span>
                </a>
            </li>
            <li class="moduleMenu" data-menu-module-id="5b0a4ba50e4e8">
                <a class="page-scroll" href="#section-5b0a4ba50e4e8">
                    <span class="txt-container">About us</span>
                </a>
            </li>
            <li class="moduleMenu" data-menu-module-id="5b0a4ba521825">
                <a class="page-scroll" href="#section-5b0a4ba521825">
                    <span class="txt-container">Contact</span>
                </a>
            </li>
        </ul>
    </div>
    <div>
        Copyright © 2022 All rights reserved - <span class="website-name-preview-helper">RB Windows Corp.</span>
    </div>
    <div style="margin:5px 0;">
        <a href="/terms" class="">Terms</a>
        &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="/privacy" class="">Privacy</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="clearfix upgrade-website-preview-helper">
        Design by <a target="_blank" href="https://sitepress.com.mx/">Sitepress</a>
    </div>
</div>
</div>
</footer></div></div>
<div>
<div id="header-phone-content" style="display:none;">
<div class="popover_phone_icons">
    <div class="global-contact-details-container text-center">
        <ul class="list-unstyled">
            <li>
                <a href="tel:305-316-2337">
                    <i class="svg-m s123-icon-converter " data-icon-name="phone" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/phone.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/phone.svg?v=2');" data-ie11-classes="">&nbsp;</i>
                    <span dir="ltr">305-316-2337</span>
                    &nbsp;-&nbsp;<span>RB Windows Corp.</span>
                </a>
            </li>
        </ul>
    </div>
</div>

</div>
<div id="header-email-content" style="display:none;">
<div class="popover_email_icons">
    <div class="global-contact-details-container text-center">
        <ul class="list-unstyled">
            <li>
                <a href="mailto:rbrito@rb-windows.com">
                    <i class="svg-m s123-icon-converter  fa-fw" data-icon-name="envelope" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/envelope.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/envelope.svg?v=2');" data-ie11-classes=" fa-fw">&nbsp;</i>
                    &nbsp;<span dir="ltr">rbrito@rb-windows.com</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</div>

</div>

</div>
<a id="gotoTop" class="gotoTop page-scroll" style="display: none;" href="#page-top">
<i class="svg-m s123-icon-converter " data-icon-name="angle-up" style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/angle-up.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/angle-up.svg?v=2');" data-ie11-classes="">&nbsp;</i>
</a>

<!-- JavaScript Translations Object -->
<!-- CSS Minimize Bottom -->
<link rel="stylesheet" class="defer-css" data-href="https://cdn-cms-s.f-static.net/versions/2/css/minimize-bottom.css?v=r82146" type="text/css" crossorigin="anonymous">
<!-- Minimize JS files -->
<script src="https://cdn-cms-s.f-static.net/versions/2/js/minimize_p1.js?v=r82146" crossorigin="anonymous"></script>
<script src="https://cdn-cms-s.f-static.net/versions/2/js/minimize_p2.js?v=r82146" crossorigin="anonymous"></script>
<script src="https://cdn-cms-s.f-static.net/versions/2/js/minimize_p3.js?v=r82146" crossorigin="anonymous"></script>
<script src="https://cdn-cms-s.f-static.net/versions/2/js/minimize_p4.js?v=r82146" crossorigin="anonymous"></script>
<script src="https://cdn-cms-s.f-static.net/versions/2/js/js.php?v=r82146&umk=3" crossorigin="anonymous"></script>
<script src="https://cdn-cms-s.f-static.net/versions/2/js/minimize_scripts.js?v=r82146" crossorigin="anonymous"></script>
<!-- Website Statistics -->
<script src="https://cdn-cms-s.f-static.net/versions/2/wizard/statistics/js/generateStats-min.js?v=r82146" crossorigin="anonymous"></script>
<script>
var languageList = [{
"name": "English - United States",
"url": "http://www.rb-windows.com/",
"countryCode": "us"
}, {
"name": "Spanish - Español",
"url": "http://www.rb-windows.com/t-es",
"countryCode": "es"
}, ];
</script>
<!-- Floating Magic Button Update Preview Helper -->
<div>
<div class="magic-button-container">
<!-- Contact Magic Button Settings-->
<input type="hidden" id="magicButtonSettings" value="{&quot;active&quot;:false,&quot;items&quot;:{&quot;contactUs&quot;:{&quot;order&quot;:0,&quot;value&quot;:&quot;ebb_brito@hotmail.com&quot;,&quot;hasInput&quot;:true}},&quot;siteLogo&quot;:&quot;https:\/\/static1.s123-cdn-static-a.com\/uploads\/3088361\/400_crop_5e4afef5dd26c_5e4afbef9982e.jpg&quot;,&quot;siteName&quot;:&quot;RB Windows Corp.&quot;}">
<!-- Share Magic Button Settings -->
<input type="hidden" id="shareMagicButtonSettings" value="{&quot;active&quot;:false,&quot;items&quot;:{&quot;faceBook&quot;:{&quot;order&quot;:1,&quot;value&quot;:&quot;&quot;}},&quot;siteLogo&quot;:&quot;https:\/\/static1.s123-cdn-static-a.com\/uploads\/3088361\/400_crop_5e4afef5dd26c_5e4afbef9982e.jpg&quot;,&quot;siteName&quot;:&quot;RB Windows Corp.&quot;}">
<!-- All Magic Buttons -->
<div class="all-magic-buttons" data-is-managment="1"></div>
</div>
</div>
<!-- Pjax Helper -->
<div class="s123-front-last-element hidden"></div>

{% endblock content %}